# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
Debug/freeglut.dll
*.dll
Debug/ModernReboot.exe
*.ilk
Debug/ModernReboot.pdb
*.sdf
ModernReboot/Debug/main.obj
*.log
*.tlog
ModernReboot/Debug/shader.obj
*.idb
ModernReboot/Debug/vc140.pdb
*.obj
ModernReboot/Release/vc140.pdb
*.exe
Release/ModernReboot.iobj
*.ipdb
Release/ModernReboot.pdb
*.opensdf
